{% extends 'layout.html' %}

{% block title %}

    {{service.name}} Services

{% endblock %}

{% block content %}
{% include 'searchbar.html' with context  %}
    <div class="container my-5">
        <h1 class="text-center">{{service.name}} Services</h1>

        {% set found_service = False %}
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
            {% if professional.service_id == service.id %}
                {% set found_service = True %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{professional.fullname}}</h5>
                            <p class="card-text">{{professional.description}}</p>
                            <p class="card-text"><strong>Time Required: </strong> {{ professional.service.time_required }}</p>
                            <p class="card-text"><strong>Ratings: </strong> {{ professional.service_Request.rating }} / 5</p>
                            <p class="card-text"><strong>Price: </strong>{{ professional.service_price + professional.service.base_price }}</p>
                            <a href="{{ url_for('book_service', professional_id=professional.id, service_id = professional.service.id) }}" class="btn btn-primary">Book Service</a>
                        </div>
                    </div>
                </div>
            {% endif %}   
        </div>
            {% if not found_service %}
                <div class="text-center mt-5">
                    <p class="fs-4">Service currently unavailable!</p>
                    <a href="{{ url_for('customer_dashboard') }}" class="btn btn-primary">
                        <i class="bi bi-arrow-left"></i> Go Back
                    </a>
                </div>
            {% endif %}
    </div>
{% endblock %}