{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}


<form action="" class="form" method="post">
    <fieldset class="custom-fieldset">
        <legend class="text-center">
            <h1>New User</h1>
        </legend>
        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" required class="form-control custom-input">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control custom-input">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" required class="form-control custom-input">
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email-ID</label>
            <input type="email" id="email" name="email" class="form-control custom-input">
        </div>
        <div class="form-group">
            <label for="fullname" class="form-label">Full-Name</label>
            <input type="text" id="fullname" name="fullname" class="form-control custom-input">
        </div>
        <div class="form-group">
            <label for="address" class="form-label">Address</label>
            <textarea id="address" name="address" required class="form-control custom-input"></textarea>
        </div>
        <div class="form-group">
            <label for="pin" class="form-label">Pin Code</label>
            <input type="text" name="pin" id="pin" required pattern="\d{6}" title="Pin code must be of 6 digits" required class="form-control custom-input">
        </div>
        <div class="form-group text-center mt-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </fieldset>
</form>
{% endblock %}