{% extends 'layout.html' %}

{% block title %}
Delete Service
{% endblock %}

{% block content %}
<h1 class="rej-title">
    Reject Professional
</h1>
<p class="rej-text">Are you sure you want to reject {{professional.fullname}}?</p>

<form action="{{ url_for('admin.reject_professional', id=professional.id)}}" method="POST" class="form">
    <div class="form-group">
        <button type="submit" class="rej-btn">
            <i class="fas fa-trash"></i>
            Reject
        </button>
    </div>
    <div class="prof-back-btn">
        <!-- Back to Dashboard Button -->
        <a href="{{ url_for('admin.admin_dashboard') }}">
            <button class="back-btn">
                Back to Dashboard
            </button>
        </a>
    </div>


</form>

{% endblock %}