{% extends 'layout.html' %}

{% block title %}
{{ professional.fullname | title }} Details
{% endblock %}
{% block content %}

<h1 class="prof-fullname">{{professional.fullname }} Details</h1>
<h2 class="prof-details">Details</h2>

<div class="prof-info">
    <div class="prof-profile-row">
        <span class="show-label">Professional ID</span>
        <span class="show-value">{{ professional.id }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Service Name</span>
        <span class="show-value">{{professional.service.name}}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Email Id</span>
        <span class="show-value">{{ professional.email_id }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Address</span>
        <span class="show-value">{{ professional.address }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Full Name</span>
        <span class="show-value">{{ professional.fullname}}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Pin-Code</span>
        <span class="show-value">{{ professional.pin_code }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Document</span>
        <a href="{{ url_for('static', filename='files/' + professional.document) }}" target="_blank" class="prof-doc">
            View Document
        </a>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Description</span>
        <span class="show-value">{{ professional.description }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Experience</span>
        <span class="show-value">{{ professional.experience }}</span>
    </div>

    <div class="prof-profile-row">
        <span class="show-label">Actions</span>
        {% if professional.user.is_verified %}
        <a href="" class="btn btn-success ">
            <i class="fas fa-check"></i> Approved
        </a>
        {% else %}
        <a href="{{url_for('admin.approve_professional', id=professional.id)}}" class="btn btn-primary">
            <i class="fas fa-check"></i> Approve
        </a>
        {% endif %}
        {% if professional.is_rejected %}
        <a href="" class="btn btn-warning">
            <i class="fas fa-times"></i> Rejected
        </a>
        {% elif not professional.is_rejected %}
        <a href="{{url_for('admin.reject_professional', id=professional.id)}}" class="btn btn-warning">
            <i class="fas fa-times"></i> Reject
        </a>
        {% endif %}
        {%if professional.user.is_blocked %}
        <a href="" class="btn btn-danger">
            <i class="fas fa-ban"></i> Blocked
        </a>
        {% else %}
        <a href="{{url_for('admin.block_professional', id=professional.id)}}" class="btn btn-danger">
            <i class="fas fa-ban"></i> Block
        </a>
        {% endif %}
    </div>
</div>
<div class="prof-back-btn">
    <!-- Back to Dashboard Button -->
    <a href="{{ url_for('admin.admin_dashboard') }}">
        <button class="back-btn">
            Back to Dashboard
        </button>
    </a>
</div>

{% endblock %}