{% extends 'layout.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="card-customer">
    <h2 class="customer-name">{{customer.fullname | title}} Profile</h2>
    <img class="customer-pic" src="https://api.dicebear.com/9.x/lorelei/svg?seed={{user.username}}" width="100" alt="">
    <div class="profile-details">
        <div class="profile-row">
            <span class="profile-label">ID</span>
            <span class="profile-value">{{ customer.id }}</span>
        </div>
    </div>
</div>
{% endblock %}