{% extends 'layout.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="prof-card">
    <h2 class="prof-name">{{professional.fullname | title}} Profile</h2>
    <div class="prof-pic">
        <img src="https://api.dicebear.com/9.x/lorelei/svg?seed={{user.username}}" width="100" alt="">
    </div>
    <div class="prof-card-details">
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{ professional.id }}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{ professional.fullname | title }}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{user.username}}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{professional.email_id}}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{professional.address}}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{ professional.service.name }}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{ professional.description }}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">ID</span>
            <span class="prof-value">{{ professional.experience }}</span>
        </div>
        <div class="prof-profile-row">
            <span class="prof-label">Actions</span>
            <a href="{{ url_for('static', filename='files/' + professional.document) }}" target="_blank">Document</a>

            <a href="{{ url_for('professional.edit_professional') }}" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>

{% endblock %}